<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 mr-2 text-white text-decorations-none">
        <h3>Poster</h3>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
        <li><%= link_to "New", new_post_path, class: 'nav-link px-2 text-white' %></li>
        <li><a href="https://github.com/kwwiiGod/Poster" class="nav-link px-2 text-white">Github</a></li>
      </ul>

      <div class="text-end">
        <span class="navbar-text">Welcome, <%= current_user.present? ? current_user.name : "Guest" %></span>
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, class: 'btn btn-outline-light me-2', method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: 'btn btn-outline-light me-2' %>
          <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <%=link_to "All", posts_path(category: 'All'), class: 'p-2 link-secondary' %>
      <%=link_to "Music", posts_path(category: 'Music'), class: 'p-2 link-secondary' %>
      <%=link_to "Anime", posts_path(category: 'Anime'), class: 'p-2 link-secondary' %>
      <%=link_to "Scientific", posts_path(category: 'Scientific'), class: 'p-2 link-secondary' %>
      <%=link_to "Politics", posts_path(category: 'Politics'), class: 'p-2 link-secondary' %>
      <%=link_to "TV Series", posts_path(category: 'TV Series'), class: 'p-2 link-secondary' %>
      <%=link_to "Films", posts_path(category: 'Films'), class: 'p-2 link-secondary' %>
      <%=link_to "Technologies", posts_path(category: 'Technologies'), class: 'p-2 link-secondary' %>
    </nav>
  </div>
</div>


