<%= form_with model: post do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %><br>
    <%= form.text_field :title, class: 'form-control' %>
    <% post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :picture, class: 'form-label' %>
    <%= form.file_field :picture, class: 'form-control' %>
    <% post.errors.full_messages_for(:picture).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :body, class: 'form-label' %><br>
    <%= form.text_area :body, class: 'form-control' %><br>
    <% post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :category, class: 'form-label' %><br>
    <%= form.select :category, ['Scientific', 'Politics', 'TV Series', 'Anime', 'Films', 'Technologies', 'Music', 'Sport', 'Other'],
                    selected: 'Scientific', class: 'form-select' %>
    <% post.errors.full_messages_for(:category).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Post", class: 'btn btn-lg btn-outline-primary' %>
  </div>
<% end %>