<h1>Posts</h1>

<%= form_with url: '/posts', method: :get do |form| %>
  <%= form.select :category, ['Scientific', 'Politics', 'TV Series', 'Anime', 'Films', 'Technologies', 'All'], selected: @category %>
  <%= form.submit "Search" %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
    </li>
  <% end %>
</ul>

<%= link_to "Previous Page", posts_path(page: @page - 1, category: @category) %>
<%= link_to "Next Page", posts_path(page: @page + 1, category: @category) %>
<%= link_to "New Post", new_post_path %>
