<article class="blog-post">
  <h2 class="blog-post-title"><%= @post.title %></h2>
  <p class="blog-post-meta"> <%= @post.created_at %> by
    <strong><%= link_to @post.author.name, show_users_path(id: @post.author.id), class: 'text-dark' %></strong>
  </p>  <p>
    <%= image_tag(@post.picture, width: 400) if @post.picture.attached? %>
  </p>
  <p><%= @post.body %></p>
  <p>Category: <%= link_to @post.category, posts_path(category: @post.category), class: 'btn btn-outline-dark' %></p>
</article>
<% if policy(@post).update? && policy(@post).destroy? %>
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <%= button_to "Edit", edit_post_path(@post), method: :get, class: 'btn btn-outline-secondary ms-2' %>
    <%= button_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
<hr>
<h2 id="comments">Comments:</h2>
<%= render @post.comments %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>
